<mat-drawer-container class="app-container">
  <mat-drawer mode="side" class="sidenav-container" opened *ngIf="(authService.currentUser$| async) as user">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="main-container">
      <app-navbar class="header"></app-navbar>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

<!--

<body>
  <mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="false">
      
    </mat-sidenav>
    <mat-sidenav-content>
      
      
      <mat-toolbar class="footer">Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>


-->