.app-container {
  height: 100%;
  background-image: linear-gradient(to right bottom, #093455, #083c5d, #064365, #044b6c, #025374, #005a7a, #006280, #006985, #00718a, #007a8d, #008290, #008a92);
}
.sidenav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: transparent;
  border-color: transparent;
}

.main-container {
  height: calc(100vh - 20px); 
  margin: 10px 0;
  background: rgba(1, 1, 1, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
