<h1 mat-dialog-title>Edit Transaction</h1>
<div mat-dialog-content>
  <form [formGroup]="editTransactionForm">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="transactionAmount" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="transactionType">
        <mat-option [value]="true">Deposit</mat-option>
        <mat-option [value]="false">Withdrawal</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput formControlName="transactionDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <mat-select formControlName="transactionDescription">
        <mat-option *ngFor="let description of data.descriptions" [value]="description.id">
          {{ description.descriptionName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
