<div class="container mt-3">
  <div class="row">
    <div class="col-4" >
      <mat-card class="p-3">
        <mat-card-title>Total Amount</mat-card-title>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="p-3">
        <mat-card-title>Monthly Profit</mat-card-title>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="p-3">
        <mat-card-title>Monthly Expenses</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="chart">
        <h5>This is new</h5>
        <canvas id="vertical-chart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
<!--A comment so I have somting commited today-->
  <p *ngFor="let item of weather | async">{{ item.date }}: {{ item.temperatureC }}</p>