#sidebar{
    height: 100vh;
    padding-top: 80px;
    background-color: #191F26;
    color: antiquewhite;
}

#dashboard{
    margin-top: 60px;
}

#navbar{
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.25);
}