.app-toolbar {
  position: sticky;
  top: 0;
  color: white;
  display: flex; 
  justify-content:  space-between;
  padding: 15px 40px;
  background: rgba(1, 1, 1, 0.10);
  border-top-left-radius: 40px;
}

.app-toolbar h1 {
  font-size: 30px;
  margin: 8px 0px;
}