<mat-card class="container mt-4">
  <mat-card-title>New Transaction</mat-card-title>
  <mat-card-content>
    <form action="" class="pt-3">
      <mat-grid-list cols="6" rowHeight="80px" >
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Transaction Type</mat-label>
            <mat-select>
              <mat-option value="1">Deposit</mat-option>
              <mat-option value="0">Withdrawal</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Transaction Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Transaction Description</mat-label>
            <mat-select>
              <mat-option value="Job">Job</mat-option>
              <mat-option value="Sidejob">Sidejob</mat-option>
              <mat-option value="Business">Business</mat-option>
              <mat-option value="Food">Food</mat-option>
              <mat-option value="Clothes">Clothes</mat-option>
              <mat-option value="Recreation">Recreation</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>

<p *ngFor="let item of transaction | async">{{item.amount}} {{item.type}} {{item.date}} {{item.description}}</p>
<mat-card class="container mt-4 ">
  <mat-card-title class="pb-3">Transactions</mat-card-title>
  <!--
    <div class="example-container mat-elevation-z8">
    @if (isLoadingResults || isRateLimitReached) {
      <div class="example-loading-shade">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
        @if (isRateLimitReached) {
          <div class="example-rate-limit-reached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
          </div>
        }
      </div>
    }
  </div>
  -->

  <div class="example-table-container">
    <table mat-table [dataSource]="transaction" class="example-table">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>
      
    </table>
  </div>
</mat-card>
