<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >
  <h1 class="mt-2">Update User Info</h1>
  <mat-tab label="Profile" class="mb-2" *ngIf="authService.currentUser$ | async as user">
    <form [formGroup]="userInfoForm" (ngSubmit)="updateInfo()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.name" formControlName="username">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="user.given_name" formControlName="firstName">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="user.family_name" formControlName="lastName">
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="userInfoForm.invalid">Submit</button>
    </form>
  </mat-tab>

  <mat-tab label="Password" >
    <h1 class="mt-2">Update Password</h1>
    <form [formGroup]="userPasswordForm" (ngSubmit)="updatePassword()">
      <mat-form-field>
        <input matInput type="password" placeholder="Current Password" formControlName="oldPassword"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="userPasswordForm.invalid">Update Password</button>
    </form>
  </mat-tab>

  <mat-tab label="Email & Notfications">
<form>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" placeholder="Enter your email">
    <mat-error *ngIf="emailFormControl.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email')">Please enter a valid email address</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="updateEmail()">Update Email</button>
</form>
  </mat-tab>
  
</mat-tab-group>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>