<mat-card *ngIf="(authService.currentUser$| async) as user">
    <mat-list>
        <mat-list-item role="listitem">
            <a mat-list-item="" routerLink="/dashboard" routerLinkActive="active"
                class=" mat-mdc-list-item-interactive mat-mdc-list-item" aria-disabled="false"><span>Dashboard </span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <a mat-list-item="" routerLink="/transactions" routerLinkActive="active"
                class=" mat-mdc-list-item-interactive mat-mdc-list-item" aria-disabled="false"><span>Transactions
                </span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <a mat-list-item="" routerLink="/budgeting" routerLinkActive="active"
                class=" mat-mdc-list-item-interactive mat-mdc-list-item" aria-disabled="false"><span>Budgeting</span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a mat-list-item="" routerLink="/summary" routerLinkActive="active"
                class=" mat-mdc-list-item-interactive mat-mdc-list-item" aria-disabled="false"><span>Summary </span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a mat-list-item="" routerLink="/admin" routerLinkActive="active" class=""
                class=" mat-mdc-list-item-interactive mat-mdc-list-item" aria-disabled="false"><span>Admin </span>
            </a>
        </mat-list-item>
    </mat-list>
</mat-card>