<div class="container mt-3">
  <div class="row" *ngIf="(dashboardValues$ | async) as dashboardValues">
    <div class="col-2">
      <mat-card class="p-3">
        <mat-card-title>Total Profit: {{ dashboardValues.totalProfit }}</mat-card-title>
      </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="p-3">
        <mat-card-title>Total Expenses: {{ dashboardValues.totalExpenses }}</mat-card-title>
      </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="p-3">
        <mat-card-title>Monthly Summary: {{ dashboardValues.monthlySummary }}</mat-card-title>
      </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="p-3">
        <mat-card-title>Monthly Profit: {{ dashboardValues.monthlyProfit }}</mat-card-title>
      </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="p-3">
        <mat-card-title>Monthly Expenses: {{ dashboardValues.monthlyExpenses }}</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>
  
  <div class="container mt-3">
    <div class="card">
      <div class="card-body">
        <div class="chart">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>
  
  