<mat-toolbar color="primary" class="app-toolbar">
    <span class="sidebar-brand-text mx-3">Financial App</span>
    <span class="spacer"></span> <!-- Add a spacer to push content to the right -->
    <button *ngIf="(authService.curentUser$| async) as user" mat-button [matMenuTriggerFor]="menu" >Welcome {{user.userName| titlecase}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
  </mat-toolbar>