<ul class="nav nav-pills flex-column">

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
         </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link " routerLink="/transactions" routerLinkActive="active"
            aria-expanded="true">
            <span>Transactions</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" aria-expanded="true" routerLink="/budget-setings" routerLinkActive="active">
            <span>Budgeting</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" routerLink="/summary" routerLinkActive="active"
            aria-expanded="true">
            <span>Summary</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">
            <span>Setings</span>
        </a>
    </li>

</ul>