<mat-card class="container mt-4">
  <mat-card-title>New Transaction</mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="openNewTransactionDialog()">
      Add New Transaction
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="container mt-4">
  <div class="section-container">
    <h2>Transaction List</h2>
    <!-- Filter Section -->
    <div class="filter-section">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="filters.transactionAmount" placeholder="Enter amount">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="filters.transactionType">
          <mat-option [value]="true">Deposit</mat-option>
          <mat-option [value]="false">Withdrawal</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <mat-select [(ngModel)]="filters.transactionDescription">
          <mat-option *ngFor="let description of transactionDescriptionNames" [value]="description.id">
            {{ description.descriptionName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="applyFilters()">Apply Filters</button>
    </div>

    <table class="table table-dark table-hover">
      <thead class="thead-dark">
        <tr>
          <th (click)="sortTransactions('transactionAmount')">
            Amount <span *ngIf="sortBy === 'transactionAmount'">{{ isDescending ? '▼' : '▲' }}</span>
          </th>
          <th (click)="sortTransactions('transactionType')">
            Type <span *ngIf="sortBy === 'transactionType'">{{ isDescending ? '▼' : '▲' }}</span>
          </th>
          <th (click)="sortTransactions('transactionDate')">
            Date <span *ngIf="sortBy === 'transactionDate'">{{ isDescending ? '▼' : '▲' }}</span>
          </th>
          <th (click)="sortTransactions('transactionDescription')">
            Description <span *ngIf="sortBy === 'transactionDescription'">{{ isDescending ? '▼' : '▲' }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionAmount | currency }}</td>
          <td>{{ transaction.transactionType ? 'Deposit' : 'Withdrawal' }}</td>
          <td>{{ transaction.transactionDate | date: 'mediumDate' }}</td>
          <td>{{ getDescriptionName(transaction.transactionDescription) }}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination 
      (goPage)="goToPage($event)"
      (goPrev)="goToPrevious()"
      (goNext)="goToNext()"
      (pageSizeChanged)="changePageSize($event)"
      [page]="pageNumber"
      [perPage]="pageSize"
      [count]="total">
    </app-pagination>
  </div>
</mat-card>
